.playwrite-gb-s-uniquifier {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
    font-family: "Playwrite GB S", cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}


/* Full-screen countdown video */
#countdown-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#countdown-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#landing {
    background-image: url(../images/back2.jpg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcccc;
    color: white;
    text-align: center;
}

#landing .content h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 
        -1px -1px 0 #ff6699,  
         1px -1px 0 #ff6699,
        -1px  1px 0 #ff6699,
         1px  1px 0 #ff6699; 
    position: relative;
    padding: 10px;    
}

#landing .content button {
    padding: 1rem 2rem;
    background-color: #ff6699;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}


#surprise-content {
    height: 100%;
    width: 100%;
    background-image: url(../images/back2.jpg) ;
    background-size: cover; 
    padding: 2rem;
}


.video-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.videos h2, .statements h2 {
    margin: 2rem 0 1rem 0;
    color: #ff6699;
}

video {
    width: 300px;
    border-radius: 10px;
}

.statements .statement {
    margin: 1rem;
    font-size: 1.2rem;
    color: #333;
}
